body {
    /* test css for js function */
    background-color: coral;
    font: Arial;
}

.header{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.container-bar{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.top-bar{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.bottom-bar{
    display: flex;
    width: 100%;
    flex-direction: row;
}